bin/
build/
!run
run/*
!run/config
run/config/*
!run/config/fabric_loader_dependencies.json
.classpath
.project
*.svg
*.launch
*.txt
.gradle/
.settings/
build.bat
logs/
.idea/
!run-server
run-server/*
!run-server/config
run-server/config/*
!run-server/config/fabric_loader_dependencies.json
