# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
Fabric/run-server/
Forge/run-server/
Fabric/runs/
Forge/runs/
NeoForge/runs/
